
div.admin_header
  div.admin_header_item
    a(href="#/admin/users") Users
  div.admin_header_item  
    p Pages
  

div.admin_sub_header
  div.admin_header_item
    a(ng-click="deleteAllPages()") Delete all pages
  div.admin_header_item  
    a(href="#/pages/new" target="_blank") New page

div.admin_message_header
  #adminProgress(style="display:none")  
    img(src='/images/spinner.gif' width=20 height=20 style="float:right")
    p Operation in progress


h2 {{pages.length}} pages

div#adminContent(style="padding:10px")
ul
  li(ng-repeat="page in pages")
    .admin_page(ng-mouseenter="spa=true" ng-mouseleave="spa=false" ng-class="{selected: spa==true}")
      .admin_item_actions(ng-show="spa")
        a(ng-click="deletePage(page._id)" target="_blank") 
          img(src="/images/admin_item_delete.png")
      a.admin_page_url(href="http://localhost:3000/#/pages/{{page._id}}" target="_blank") {{page._id}}
      ul
        li(ng-repeat="item in page.items" style="display:block")
          .admin_item(style="height:20px;width:100%" ng-mouseenter="showactions=true" ng-mouseleave="showactions=false" ng-class="{selected: showactions==true}")
            .admin_item_actions(ng-show="showactions")
              a(ng-click="deleteItem(page._id,item._id)" target="_blank") 
                img(src="/images/admin_item_delete.png")
            a.admin_item_url(href="{{item.url}}" target="_blank") {{item.title || "Empty title"}}

            .clear
            
          
    
            
