
#actionPane
  .action_item
    a(ng-click="openNewItem()")
      img(width=40 height=40 src="images/add_button.png")
  .action_item(ng-show="newpage")
    a(ng-click="savePage()")
      img(width=40 height=40 src="images/save_page.png")

#contentPane

  div(style="float:left;height:80px")
    h1 Page title

  .clear

  notification(message="message")


  p(ng-show="page.items.length == 0") There are no items on this page, add some!

  .gridElements(ui-sortable ng-model="page.items")
    div(ng-repeat="item in page.items" class="animate-items")
      .itemWrapper(ng-if="item.regular")
        .itemWrapper.itemBase
          .div(ng-class="{1:'item_v_1', 2:'item_h_1'}[item.orientation]")
            .itemImageWrapper(ng-show="item.images.length > 0")
              img(style="height:200px" ng-src="{{item.images[0].url}}")
            .itemMetaWrapper
              .itemMeta
                {{item.url}}
      #newItem(ng-if="item.new_item" )
        .newItemUrl(style="width:540px;margin:auto")
          input(style="width:400px;height:30px;float:left", ng-model="newItem.url", placeholder="Enter new item URL")
          .newItemActions(style="margin-top:10px")
            a(ng-click="closeNewItem()" style="float:left;margin-left:5px") 
              img(src="images/x_button.png" style="width:30px;height:30px")
            a(ng-click="addItem()" style="float:left;margin-left:5px;") 
              img(src="images/ok_button.png" style="width:30px;height:30px")
          
