
#actionPane
  .action_item
    a(ng-click="openNewItem()")
      img(width=40 height=40 src="images/add_button.png")
  .action_item(ng-show="newpage")
    a(ng-click="savePage()")
      img(width=40 height=40 src="images/save_page.png")

#contentPane

  div(style="float:left;height:80px")
    h1 Page title

  .clear

  notification(message="message")


  p(ng-show="page.items.length == 0") There are no items on this page, add some!

  #gridWrapper(gridster="gridsterOpts")
    div(gridster-item="item" ng-repeat="item in page.items", ng-mouseenter="showButtons=true",ng-mouseleave="showButtons=false", ng-init="showButtons=false")
      div.item(ng-if="item.regular", ng-class="{1:'itemSize1', 2:'itemSize2', 3:'itemSize3', 4:'itemSize4'}[item.sizeX]")
        trip-item





