
#actionPane
  .action_item
    a(ng-click="newItem()")
      img(width=40 height=40 src="images/add_button.png")
  .action_item
    a(ng-click="savePage()")
      img(width=40 height=40 src="images/save_page.png")

#contentPane

  div(style="float:left;height:80px")
    h1 Page title

  .clear

  p(ng-show="page.items.length == 0") There are no items on this page, add some!

   .gridElements(ui-sortable ng-model="page.items")
    div(ng-repeat="item in page.items")
      .itemWrapper(ng-if="item.regular")
        .itemWrapper.itemBase
          .div(ng-class="{1:'item_v_1', 2:'item_h_1'}[item.orientation]")
            .itemImageWrapper(ng-show="item.images.length > 0")
              img(style="height:200px" ng-src="{{item.images[0].url}}")
            .itemMetaWrapper
              .itemMeta
                {{item.url}}
                {{item.orientation}} is the orientation
      #new_item(ng-if="item.new_item" class="new_item")
        a(ng-click="closeNewItem()" style="float:right") Close
        .editing_on(style="width:340px;float:left")
          input(style="width:280px;height:22px;float:left", ng-model="newItemUrl", placeholder="Enter new item URL")
          button(ng-click="addItem(newItemUrl);", style="height:24px;float:left") OK
