
#actionPane
  .action_item
    a(ng-click="test()")
      img(src="images/add_button.png")
  .action_item
    a(ng-click="savePage()")
      img(src="images/save_page.png")

#contentPane

  div(style="float:left;height:80px")
    h1 Page title

  #newItem(style="height:80px;width:80px;float:left;margin-top:30px;margin-left:20px")
    .editing_off(ng-hide="addingItem" style="float:left")
      button(ng-click="addingItem=true", ) Add Item
    .editing_on(ng-show="addingItem" style="width:340px;float:left")
      input(style="width:280px;height:22px;float:left", ng-model="newItemUrl", ng-show="addingItem", placeholder="Enter new item URL")
      button(ng-click="addItem(newItemUrl); addingItem=false", style="height:24px;float:left") OK

  .clear

  p(ng-show="page.items.length == 0") There are no items on this page, add some!

  .gridElements(ui-sortable ng-model="page.items")
    .itemWrapper(ng-repeat="item in page.items")
      .itemWrapper.itemBase
        .div(ng-class="({{item.orientation}}==1) ? 'item_v_1' : 'item_h_1'"
          .itemImageWrapper(ng-show="item.images.length > 0")
            img(ng-src="{{item.images[0].url}}")
          .itemMetaWrapper
            .itemMeta
              {{item.url}}
              {{item.orientation}} is the orientation
