h1 Welcome to the best Trip Organizer in the world!

div(gridster="gridsterOpts")
  ul
    li(gridster-item="item" ng-repeat="item in page.items")
      .itemWrapper(ng-if="item.regular")
        .itemWrapper.itemBase
          .div(ng-class="{1:'item_v_1', 2:'item_h_1'}[item.orientation]")
            .itemImageWrapper(ng-show="item.images.length > 0")
              img(style="height:200px" ng-src="{{item.images[0].url}}")
            .itemMetaWrapper
              a(ng-click="deleteItem({itemId:item._id})") Delete
              .itemMeta
                {{item.title}}
                {{item.url}}