body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}

.clear {
  clear:both;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification {
  width:100%;
  text-align:center;
  height:30px;
  background-color: #89CFF0;
  position:fixed;
  top:0;
  left:0;
  opacity: 40%;
}

#actionPane {
  width:80px;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  border-right: 1px solid #ccc;
  padding-top:12px;
}

#newItem {
  width:100%;
  height:60px;
  float:left;
  border:1px solid #ccc;
  margin:10px;
  box-shadow: 10px 10px 5px #888888;
}

.animate-items.ng-enter,
.animate-items.ng-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    /*position: relative;*/
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 
 
.animate-items.ng-leave.ng-leave-active,
.animate-items.ng-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}
 
.animate-items.ng-enter.ng-enter-active, 
.animate-items.ng-leave {
    opacity: 1;
    width: 100%;
    height: 200px;
}

.action_item {
  width:40px;
  height:40px;
  margin:auto;
  padding:2px;
}

.action_item .activated {
  border-top:1px solid #ccc;
}

#contentPane {
  padding-left:100px;
  background: url(http://subtlepatterns.com/patterns/scribble_light.png)
}

.admin_header {
  height:30px;
  position:fixed;
  top:0;
  left:0; 
  width:100%;
  border-bottom:1px solid #eee;
  padding:5px;
  padding-left:50px;
  background-color: #fff
}

.admin_sub_header {
  height:30px;
  position:fixed;
  top:30px;
  left:0; 
  width:100%;
  border-bottom:1px solid #eee;
  padding:5px;
  padding-left:50px;
  background-color: #fff
}

.admin_header_item {
  height:20px;
  margin-right:10px;
  float:left;
  border-right:1px solid #eee;
  padding-right: 10px
}

.admin_content ul li {
  list-style-type: none;
  display:block;
}

.admin_item
{
  height:20px;
  margin:5px;
  width:600px;
  padding-left: 20px;
}

.admin_item a { text-decoration: none; }

.admin_item_url {
  display:block;
  margin-left: 25px;
  text-decoration: none;
}

.admin_page a { text-decoration: none; }

.admin_page {
  border-bottom:1px solid #ccc;
  padding:4px;
  margin:5px;
}

.admin_page_url {
  display:block;
  margin-left: 25px;
  text-decoration: none;
}

.admin_page_url :hover{
  text-decoration: none;
}

.admin_page.selected {
  
}

.admin_item.selected {
  border:1px solid #ccc;
}


.admin_item_title {
  width:500px;
}

.admin_item_actions {
  width:20px;
  height:20px;
  float:left;
}

.main_content{
  margin: 20px 30px;
}

#gridWrapper {
    width: 90%;
    max-width: 1100px;
    min-width: 800px;
    margin: 50px auto;
}

.itemSize1, .itemSize2, .itemSize2, .itemSize3{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    font-size: 11px;
}

/* item size 0 start */

.itemSize1 .itemActionsWrapper{
    width:100%;
    height: 200px;
}

.itemSize1 .itemActionsWrapper .itemButtonsWrapper{
    position: absolute;
    bottom: 0;
    z-index: 101;
    width:50px;
    height:200px;
}

.itemSize1 .itemActionsWrapper .itemButtonsWrapper .ButtonWrapper {
    position: relative;
    margin-top: 5px;
    z-index: 102;
    width: 32px;
    height: 32px;
}

.itemSize1 .itemActionsWrapper .itemButtonsWrapper .buttonWrapper .itemBtn{
    box-shadow: 0 1px 2px;
    position: relative;
    background-color: #004099;
    border-radius: 4px;
    width: inherit;
    height: inherit;
}

.itemSize1 .itemActionsWrapper .itemImageWrapper {
    cursor: hand;
    width: inherit;
    height: 200px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.itemSize1 .itemActionsWrapper .itemImageWrapper .itemImg{
    width:inherit;
    height:inherit;
    position: relative;
}

.itemSize1 .itemMeta {
    width: 100%;
    height:80px;
    background-color: #fbfbfb;
    position: relative;
    bottom: 0;
    padding: 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    overflow-wrap: break-word;
}

/*item size 0 end */


/* item size 1 start */

.itemSize2 .itemActionsWrapper{
    position: absolute;
    left: 0;
    top: 80px;
    max-width:260px;
    max-height: 200px;
}

.itemSize2 .itemActionsWrapper .itemButtonsWrapper{
    position: absolute;
    bottom: 0;
    z-index: 101;
    width:50px;
    height:200px;
}

.itemSize2 .itemActionsWrapper .itemButtonsWrapper .ButtonWrapper {
    position: relative;
    margin-top: 5px;
    z-index: 102;
    width: 32px;
    height: 32px;
}

.itemSize2 .itemActionsWrapper .itemButtonsWrapper .buttonWrapper .itemBtn{
    box-shadow: 0 1px 2px;
    position: relative;
    background-color: #004099;
    border-radius: 4px;
    width: inherit;
    height: inherit;
}

.itemSize2 .itemActionsWrapper .itemImageWrapper {
    cursor: hand;
    width: inherit;
    height: 200px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.itemSize2 .itemActionsWrapper .itemImageWrapper .itemImg{
    width:inherit;
    height:inherit;
    position: relative;
}

.itemSize2 .itemDescriptionWrapper{
    max-width: 170px;
    height: inherit;
    background-color: #eaeaea;
    position: absolute;
    right: 0;
    top: 80px;
    padding: 5px;
    margin-top: 5px;
    text-align: left;
}

.itemSize2 .itemDescriptionWrapper p{

}

.itemSize2 .itemMeta {
    width: 100%;
    height:80px;
    background-color: #fbfbfb;
    position: relative;
    bottom: 0;
    padding: 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    overflow-wrap: break-word;
}

/*item size 1 end */


/* Styling for the new item modal dialog */
.new_item_modal_button {
  display:block;
  width:30px;
  height:30px;
}

.modal_message {
  font-size:10px;
  color:red;
}
