body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}

.clear {
  clear:both;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#actionPane {
  width:80px;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  border-right: 1px solid #ccc;
  padding-top:12px;
}

.action_item {
  width:40px;
  height:40px;
  margin:auto;
}

#contentPane {
  margin-left:100px;
}

.admin_content ul li {
  list-style-type: none;
  display:block;
}

.admin_item
{
  height:20px;
  margin:5px;
  width:600px;
}

.admin_page.selected {
  border:1px solid #ccc;
}

.admin_item.selected {
  border:1px solid #ccc;
}


.admin_item_title {
  width:500px;
}

.admin_item_actions {
  float:right;
}

.main_content{
  margin: 20px, 30px;
}

.gridElements {

}

.itemBase {
    position:relative;
}

.itemWrapper {
    position: relative;
    width: 380px;
    height: 200px;
    font-size: 11px;
    overflow: hidden;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    background: #fff;
    float: left;
    margin: 10px;
}

.item_v_1 {
    width: inherit;
    height: inherit;
}

.item_h_1 {
    width: inherit;
    height: inherit;
}


.item_v_1 .itemImageWrapper {
    width: 200px;
    height: inherit;
    float: left;
    position: absolute;
    overflow: hidden;
    border: 1px solid;
}

.item_v_1 .itemMetaWrapper {
    width: 180px;
    height: inherit;
    float: right;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item_h_1 .itemImageWrapper {
    height:140px;
    width: inherit;
    float: left;
    position:absolute;
    overflow: hidden;
}

.item_h_1 .itemMetaWrapper {
    height: 60px;
    width:inherit;
    top: 140px;
    bottom: 0;
    right: 0;
    left: 0;
    position: relative;
}

.itemMeta {
    position: absolute;
    padding: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    overflow-wrap: break-word;
}

