extends public_layout
doctype html
html
  head
    block content
      .bg-image-login
        .container(style="padding-top:100px")
          .row
            .col-lg-3.col-md-2.col-sm-2
            .col-lg-6.col-md-8.col-sm-8.col-xs-12
              .panel.panel-default
                .panel-heading
                  p.panel-title(style="color: #3A7BA6 ; font-weight: bold " ) Log in with ShareZ

                .panel-body
                  if (message)
                    p #{message}
                  br
                  form(role='form', action="/login",method="post", style='max-width: 300px;')
                    .form-group
                      input.form-control(type='text', name="email", placeholder='Enter email')
                    .form-group
                      input.form-control(type='password', name="password", placeholder='Password')
                    button.btn.btn-default(type='submit') Submit
                    &nbsp;
                    a(href='/')
                      button.btn.btn-primary(type="button") Cancel
                      a(href='/reset')
                        p(style="padding-top:10px") forgot your password?
            .col-lg-3.col-md-2.col-sm-2
