doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title= "Sharez"
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='./javascripts/lib/require.min.js')
    script(src='./javascripts/startup.js')

  body
    header.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          img(src='../images/szlogo.png', style='width:40px;height:40px;float:left;margin:5px')
          a.navbar-brand(href='/') ShareZ
        // Collect the nav links, forms, and other content for toggling
        nav#navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            if (!user)
              li
                a(href="/login") Login
              li
                a(href="/register") Register
            if (user)
              li
                p.navbar-text(style="color:white") Hello #{user.username}
              li
                a(href="/logout", style="float:right") Logout
          ul.nav.navbar-nav
            if(user)
              li
                input.navbar-form.form-control(style="width:200px", ng-model="query")
              li
                a(href="/#/sharez") your sharez
              li
                a(href="/#/locations") your locations

  block content